# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

node_modules
package-lock.json

db_schema/MyStore_Schema.png
db_schema/Schema.png
db_schema/Scratch.txt